<html>
    <head>
        <link rel="stylesheet" href="../static/home.css">
        
    </head>
    <body>
        <marquee behavior="alternate"  scrollamount="7" style="color:white">Look at the fun things you can do with html!</marquee>
        <br>
        <br>
        <div class="bubble">Programming Club Hackjam</div>
        <br>
        <br>
        <br>
        <br>
        <div class="spotifyAPI">
            <img src="/static/squid.gif" width="100px" height="100px">
            <ul><li>Top albums: <img src="{{data['items'][1]['images'][1]['url']}}" alt:"book cover" width="640" height="640"> </li></ul>
            <img src="/static/squid.gif" width="100px" height="100px">
        </div>
        <br>
        <br>
    </body>
</html>
 
